<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <!-- Facebook SDK -->
    <%= javascript_include_tag "facebook", "data-turbolinks-track" => true %>

    <!-- Google Maps -->
    <script 
        type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false">
    </script>
    <%= javascript_include_tag "gmaps", "data-turbolinks-track" => true %>

<%= yield %>

</body>

</html>
